In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tasiilaq,GL,2022-07-24 15:49:24,65.6145,-37.6368,44.76,84,45,6.80
1,1,Qaanaaq,GL,2022-07-24 15:49:25,77.4840,-69.3632,39.09,92,100,1.45
2,2,Saskylakh,RU,2022-07-24 15:49:25,71.9167,114.0833,60.22,76,99,6.51
3,3,Lebork,PL,2022-07-24 15:49:25,54.5392,17.7501,67.55,67,89,10.65
4,4,Hilo,US,2022-07-24 15:49:26,19.7297,-155.0900,78.28,89,100,5.75

In [3]:
#get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of winde speed 
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of winde speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Hilo,US,2022-07-24 15:49:26,19.7297,-155.0900,78.28,89,100,5.75
10,10,Cabo San Lucas,MX,2022-07-24 15:49:28,22.8909,-109.9124,86.61,82,75,5.37
11,11,Pantai Remis,MY,2022-07-24 15:49:28,4.4557,100.6288,78.82,86,87,3.89
18,18,Liku,ID,2022-07-24 15:49:31,-0.7275,119.8922,75.33,93,91,3.87
19,19,Puerto Ayora,EC,2022-07-24 15:49:31,-0.7393,-90.3518,75.16,83,46,8.01
23,23,Cururupu,BR,2022-07-24 15:49:33,-1.8283,-44.8683,88.09,53,60,6.62
25,25,Yumen,CN,2022-07-24 15:49:34,40.2833,97.2000,84.58,18,18,5.91
26,26,Isangel,VU,2022-07-24 15:49:34,-19.5500,169.2667,76.03,87,0,4.29
30,30,Ponta Do Sol,PT,2022-07-24 15:49:36,32.6667,-17.1000,77.63,51,5,1.90
31,31,Tiruppuvanam,IN,2022-07-24 15:49:36,9.8333,78.2667,79.18,94,40,3.44

In [29]:
preferred_cities_df.count()

City_ID       213
City          213
Country       210
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4             Hilo      US     78.28  19.7297 -155.0900
10  Cabo San Lucas      MX     86.61  22.8909 -109.9124
11    Pantai Remis      MY     78.82   4.4557  100.6288
18            Liku      ID     75.33  -0.7275  119.8922
19    Puerto Ayora      EC     75.16  -0.7393  -90.3518
23        Cururupu      BR     88.09  -1.8283  -44.8683
25           Yumen      CN     84.58  40.2833   97.2000
26         Isangel      VU     76.03 -19.5500  169.2667
30    Ponta Do Sol      PT     77.63  32.6667  -17.1000
31    Tiruppuvanam      IN     79.18   9.8333   78.2667

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [45]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
    print("Hotel not found... skipping.")

IndentationError: expected an indented block (Temp/ipykernel_17580/539023413.py, line 16)

In [43]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Hilo,US,78.28,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Cabo San Lucas,MX,86.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
11,Pantai Remis,MY,78.82,4.4557,100.6288,Leisure Homestay
18,Liku,ID,75.33,-0.7275,119.8922,Kost annisa
19,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
23,Cururupu,BR,88.09,-1.8283,-44.8683,POUSADA TRAVÉS'CIA
25,Yumen,CN,84.58,40.2833,97.2000,
26,Isangel,VU,76.03,-19.5500,169.2667,
30,Ponta Do Sol,PT,77.63,32.6667,-17.1000,
31,Tiruppuvanam,IN,79.18,9.8333,78.2667,

In [46]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))