## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,0,Avarua,CK,73.45,broken clouds,-21.2078,-159.7750,Paradise Inn
1,1,Rikitea,PF,75.61,broken clouds,-23.1203,-134.9692,People ThankYou
2,3,Havre De Grace,US,84.43,broken clouds,39.5493,-76.0916,Super 8 by Wyndham Havre De Grace Aberdeen Area
3,4,Albany,US,82.58,scattered clouds,42.6001,-73.9662,
4,6,Palaia Fokaia,GR,86.72,few clouds,37.7200,23.9463,Plaza Resort Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current description} and {Max Temp} 째F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Amambai"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Amambai"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Rafaela"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Cambe"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Alta Floresta"]

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
Amambai = start
Rafaela = stop1
Cambe = stop2
Alta_Floresta = stop3
roadtrip = gmaps.directions_layer(Amambai, Amambai, waypoints=[Rafaela, Cambe, Alta_Floresta ],travel_mode="DRIVING")
fig = gmaps.figure(center=(25.0, 30.0), zoom_level=1.5)
fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,663,Amambai,BR,73.49,clear sky,-23.1042,-55.2258,Keren Hotel
1,289,Rafaela,AR,74.98,broken clouds,-31.2503,-61.4867,Parra Hotel & Suites
2,563,Cambe,BR,77.68,clear sky,-23.2758,-51.2783,Motel Tr처ia
3,341,Alta Floresta,BR,82.29,scattered clouds,-9.8756,-56.0861,Floresta Amazonica Hotel

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current description} and {Max Temp} 째F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 35.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))